
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (string.IsNullOrEmpty(User.Identities?.Select(c => c.FindFirst(ClaimTypes.Email))?.FirstOrDefault()?.Value)) {

    <div ><p>Vous n'êtes pas connécté'</p></div>
    } else {

    <div ><p>Vous êtes connécté'</p></div>
    }
</div>
